.hero {
    padding-top: 80px;
    margin-bottom: 200px;
    background-image: url("../img/hero-bg.svg");
    background-repeat: no-repeat;
    background-position: right;
}

.hero__wrapper {
    max-width: 50%;
}

.hero__caption {
    font-size: 50px;
    line-height: 70px;
}

.hero__caption__dot {
    color: #FF6E30;
}



.hero__list {
    display: flex;
    gap: 24px;
}
