.join {
    margin-bottom: 100px;
}

.join__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join__caption {
    font-size: 48px;
    line-height: 62.4px;
}

.join__description {
    text-align: center;
}