body {
    font-family: 'Poppins', sans-serif;
    background-color: #1E252B;
    font-weight: 500;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
}

.container {
    max-width: 1254px;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    background-color: #FF6E30;
    padding: 12px 36px;
    border-radius: 8px;
    border: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);

    cursor: pointer;
    transition: 0.3s;
}

.description {
    max-width: 480px;
    margin: 30px 0 60px;

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.form {
    width: 100%;
    max-width: 500px;
    padding: 8px 10px 8px 18px;
    background-color: #283036;
    margin-bottom: 100px;

    border-radius: 16px;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
}

.form__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
}

.form__input {
    width: 100%;
    background-color: #283036;
    border: none;
    outline: none;

    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 0.9);
}

.form__button {
    white-space: nowrap;
    transition: 0.3s;
}

.card {
    padding: 33px;
    border-radius: 15px;
    flex: 0 0 26%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: 0.3s;
}

.card:hover {
    background-color: rgba(40, 48, 54, 0.6);
    background-image: url("../img/card-back.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 10px 1px rgb(40 48 54 / 60%);
}

.card:hover .card__link {
    border: 1px solid #FF6E30;
}

.card__title {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}

.card__name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
    font-size: 24px;
    line-height: 36px;
}

.card__info {
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 165, 55, 0.55);
}

.card__description {
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.card__buttons {
    display: flex;
    justify-content: space-between;
}

.card__icons {
    display: flex;
    align-items: center;
    gap: 24px;
}

.card__icons img {
    cursor: pointer;
}

.card__link {
    text-decoration: none;
    border: 1px solid transparent;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.55);
}

.card__link:hover {
    background-color: #FF6E30;
    color: rgba(255, 255, 255, 0.9);
}
